{% extends 'frame/base.html' %}

{% block title %}INA Energy{% endblock %}

{% block content %}
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to INAEnergy Invoice System</h1>
      <p class="lead">Please login to Further operation</p>

      {% load tz %}
      {% localtime on %}
      <p>{{ time }}</p>
      <p>{{ timestr }}</p>
      {% endlocaltime %}

      <p>{{ time2 }}</p>
      <p>{{ time2str }}</p>
    </div>
  </header>
{% endblock %}