{% extends 'frame/base.html' %}
{% load invoice_extra %}

{% block title %}{{ invoice.serial_num}} - {{ invoice.title }}{% endblock %}

{% block content %}

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>請款單 {{ invoice.serial_num}} - {{ invoice.title }}</h2>
                <p class="d-print-none">{{ invoice.update_time|date:"Y年m月d日 H:i" }} 更新, {{ invoice.creat_time|date:"Y年m月d日 H:i" }} 建立</p>
            </div>
        </div>
        <div class-="row">
            <div class="col-lg-10 mx-auto mb-3">
                {% if not invoice.is_completed %}
                <a href=" {% url 'InvoiceUpdate' invoice.id %} " class="btn btn-outline-primary btn-sm" role="button">編輯</a>
                <a href="" class="btn btn-outline-danger btn-sm" role="button" data-toggle="modal" data-target="#dltModal">刪除</a>
                <a href="" class="btn btn-outline-success btn-sm" role="button" data-toggle="modal" data-target="#cmpltModal">編輯完成</a>
                {% else %}
                <p><a href="javascript:window.print()" class="btn btn-outline-info btn-sm d-print-none" role="button">列印</a></p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">請款單號</th>
                            <td colspan="3">{{ invoice.serial_num }}</td>
                            <th scope="row">申請人</th>
                            <td>{{ invoice.employee }}</td>
                            <th scope="row">編輯狀態</th>
                            <td>
                                {% if invoice.is_completed %}
                                已完成
                                {% else %}
                                未完成
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">請款單位</th>
                            <td colspan="5">{{ invoice.request_unit.name }}</td>
                            <th scope="row">請款日期</th>
                            <td>{{ invoice.filldate.year }}年{{ invoice.filldate.month }}月{{ invoice.filldate.day }}日</td>
                        </tr>
                        <tr>
                            <th scope="row">主旨</th>
                            <td colspan="5">{{ invoice.title }}</td>
                            <th scope="row">總金額</th>
                            <td>
                                <div class="row">

                                        <div class="col-12">{{ invoice.pay_currency }}  {{ total_amount|moneycent }} 元整</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="d-none d-print-table-row">
                            <th colspan="7">項目</th>
                            <th>金額</th>
                        </tr>
                        {% if invoiceitem %}
                        {% for item in invoiceitem %}
                        <tr class="d-none d-print-table-row">
                            <td colspan="7">{{ item.item_name }}</td>
                            <td colspan="1">
                                <div class="row">
                                    <div class="col-3">{{ invoice.pay_currency|crncte }}</div>
                                    <div class="col-9 text-right">{{ item.amount|moneycent }} 元</div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr class="d-none d-print-table-row">
                            <td colspan="8">沒有資料。</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row" width="10%">給付廠商</th>
                            <td colspan="3" width="30%">{{ invoice.pay_comp }}</td>
                            <th scope="row" width="10%">付款條件</th>
                            <td width="10%">{{ invoice.pay_methold }}</td>
                            <th scope="row" width="10%">預計付款</th>
                            <td width="22%">{{ invoice.pay_date.year }}年{{ invoice.pay_date.month }}月{{ invoice.pay_date.day }}日</td>
                        </tr>
                        <tr class="d-print-none">
                            <th scope="row">備註</th>
                            <td colspan="7">{{ invoice.remark }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row d-print-none">
            <div class="col-lg-10 mx-auto">
                <h3>請款項目</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" >品項</th>
                            <th scope="col" style="width: 25%">金額</th>
                            <th scope="col" style="width: 10%" class="d-print-none">動作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if invoiceitem %}
                            {% for item in invoiceitem %}
                            <tr>
                                <td>{{ item.item_name }}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-3">{{ invoice.pay_currency|crncte }}</div>
                                        <div class="col-9 text-right">{{ item.amount|moneycent }} 元</div>
                                    </div>
                                </td>
                                <td class="d-print-none">
                                    {% if not invoice.is_completed %}
                                    <a href=" {% url 'ItemDelete' invoice.id item.id %} " class="btn btn-outline-danger btn-sm" role="button">刪除</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">沒有資料</td>
                            </tr>
                        {% endif %}
                    </tbody>
                    <tfoot>
                    {% if user.is_authenticated %}
                    {% if not invoice.is_completed %}
                            <form class="was-validated" action="" method="POST">
                            {% csrf_token %}
                                <tr>
                                    <input type="hidden" value="{{ invoice.id }}" name="invoice_sn" id="id_invoice_sn">
                                    <td>{{ form.item_name }}</td>
                                    <td>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ invoice.pay_currency|crncte }}</span>
                                            </div>
                                            {{ form.amount }}
                                        </div>

                                    </td>
                                    <td><button class="btn btn-primary btn-sm" type="submit">新增</button></td>
                                </tr>
                            </form>
                    {% endif %}
                    {% endif %}
                    </tfoot>
                </table>

            </div>
        </div>
        <div class="row d-none d-print-block">
            <div class="col">
                <h3>簽核</h3>
                <table class="table table-bordered text-center">
                    <tbody>
                        <tr>
                            <th width="20%" colspan="3">董事長</th>
                            <th width="20%" colspan="3">總經理</th>
                            <th width="20%" colspan="3">副總經理</th>
                            <th width="20%" colspan="3">初核</th>
                            <th width="20%" colspan="3">經辦人</th>
                        </tr>
                        <tr>
                            <td height="70" colspan="3" style="vertical-align: middle;">
                                {% if invoice.pay_currency == "新台幣" %}
                                    {% if total_amount < 100000 %}
                                    依權責辦法免簽
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td colspan="3"></td>
                            <td colspan="3"></td>
                            <td colspan="3"></td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <th colspan="15"> 財務會簽 </th>
                        </tr>
                        <tr>
                            <th width="33%" colspan="5">審核</th>
                            <th width="33%" colspan="5">覆核</th>
                            <th width="33%" colspan="5">經辦</th>
                        </tr>
                        <tr>
                            <td height="70" colspan="5"></td>
                            <td colspan="5"></td>
                            <td colspan="5"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<!--完成表單按鈕-->
<div class="modal fade" id="cmpltModal" tabindex="-1" role="dialog" aria-labelledby="cmpltModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cmpltModalLabel">確定完成表單？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>完成後即無法繼續編輯表單，確定要完成？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-success" onclick="location.href='{% url 'InvoiceComplete' invoice.id %}'">確定</button>
      </div>
    </div>
  </div>
</div>

<!--刪除表單按鈕-->
<div class="modal fade" id="dltModal" tabindex="-1" role="dialog" aria-labelledby="dltModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">確定刪除表單？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>刪除後即無法繼續編輯表單，確定刪除？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'InvoiceDelete' invoice.id %}'">確定刪除</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}