{% extends 'frame/base.html' %}

{% block title %}請款單一覽 - INA Energy{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto table-responsive-xl">
          <h2>請款單一覽</h2>
          <div class="mb-3">
            {% if user.is_authenticated %}
            <a href="add/" class="btn btn-primary">Add</a>
            {% endif %}
          </div>
          {% if invoice_list %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" width="15%">單號</th>
                <th scope="col" width="50%">標題</th>
                <th scope="col">申請日期</th>
                <th scope="col">申請人</th>
                <th scope="col" width="10%">編輯</th>
              </tr>
            </thead>
            <tbody>
              {% for invoice in invoice_list%}
              <tr>
                <th scope="row">{{ invoice.serial_num }}</th>
                <td><a href="{{ invoice.id }}">{{ invoice.title }}</a></td>
                <td>{{ invoice.filldate|date:"m月d日, Y年" }}</td>
                <td>{{ invoice.employee }}</td>
                <td>
                  {% if invoice.is_completed %}
                    已完成
                  {% else %}
                    未完成
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>目前沒有資料！</p>
          <p></p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}